{% extends 'base.html' %}
{% load static %}
{% block link %}
{% endblock %}
{% block title %}{% endblock %}
{% block page_css %}
<style type="text/css">

.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
</style>
{% endblock %}

{% block body %}

<div class="container">

      <div class="panel panel-primary " align="center" style="border-style: solid;padding: 10%;">
        <div class="panel-body">
          <form method="post" id="payment-form" style="width:50%">
            {% csrf_token %}
            <div class="form-row" >
              <label for="card-element">
                Credit or debit card
              </label>
              <div id="card-element" style="width: 100%">
                <!-- A Stripe Element will be inserted here. -->
              </div>
              <!-- Used to display form errors. -->
              <div id="card-errors" role="alert"></div>
            </div>
            <br>
            <button  class="btn btn-success" data-bind="text:'Pay &#8377;'+amount()">Pay</button>
          </form>
      </div>
    </div>
</div>

{% endblock %}

{% block script %}
 <script src='{% static "js/custom/invoice_payment.js" %}'></script>
 <script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
  // Create a Stripe client.
var stripe = Stripe('YOUR STRIPE PUBLISHABLE KEY');

// Create an instance of Elements.
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    color: '#32325d',
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#aab7c4'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.on('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

// Handle form submission.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      console.log(result)
      stripeTokenHandler(result.token);
    }
  });
});

// Submit the form with the token ID.
function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  // form.submit();
  GBL.confirmstipepay(token);
}

var amount={{invoice.amount}}
GBL.amount(amount)
$("#logout").addClass("d-none");

GBL.confirmstipepay = function (token) {
  var csrftoken = GBL.getCookie('csrftoken');
  $.ajax({
    method: 'POST',
    url: '/api/invoice/pay',
    data:{'amount':GBL.amount(),'stripeToken':token.id,'invoice_number':GBL.invoice_number()},
    dataType: 'json',
    beforeSend: function(xhr, settings) {
    GBL.showLoading();
    xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
  })
  .done(function (d, textStatus, jqXHR) {
    // console.log(d)
    location.href='/success'
    // // window.open("/success",  ",resizable=false,,location=no,width=400, height=500,titlebar=0,toolbar=0");
    // window.open("/success",'','postwindow');
  })
  .fail( function (jqXHR, textStatus, errorThrown) {
    location.href='/failure'
  })
  .always(function(){
    GBL.hideLoading();
  })
}

</script>

{% endblock %}
